.bg-gradient-primary-to-secondary {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
  }

.myMT-10em {
  padding-top: 10em;
}

.MYtext-justify {
  text-align: justify;
}

.bg-gray {
  background: #e0e0e0;
}